:root {
    --light-theme-primary-color: #0E1025;
    --light-theme-bg-color: #e5e5e5;
    --light-theme-secondary-color: #8f1717;

    /* --dark-theme-bg-color: #05192b; */
    /* --dark-theme-bg-color: #01031a; */
    --dark-theme-bg-color: #0a1325;
    --dark-theme-primary-color: #fff;
    /* --dark-theme-secondary-color: #d46a7c; */
    --dark-theme-secondary-color: #0089C7;
    
    --inactive-link-color: #777;
    /* --light-theme-secondary-color: #3c0303; */
}

html {
    box-sizing : border-box;
}

* {
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
    box-sizing: inherit;
}

*::after, ::before {
    box-sizing: inherit;
}

body {
    transition: background 0.3s ease-in,
    color ease-in-out;
    font-family: 'Montserrat', sans-serif;
    min-width: 250px;
 
    padding: 0 1rem;
}

body.dark-theme {
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-primary-color);
}

body.light-theme {
    background-color: var(--light-theme-bg-color);
    color: var(--light-theme-primary-color);
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 1rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul.list-style-none {
    list-style: none;
}

li.inline-list-item {
    display: inline-block;
}

body.light-theme .primary-color {
    color: var(--light-theme-primary-color);
}

body.dark-theme .primary-color {
    color: var(--dark-theme-primary-color);
}

body.light-theme .secondary-color {
    color: var(--light-theme-secondary-color);
}

body.dark-theme .secondary-color {
    color: var(--dark-theme-secondary-color);
}

.invert-secondary-color {
    font-weight: 600;
}

body.light-theme .invert-secondary-color {
    color: var(--dark-theme-secondary-color);
}

body.dark-theme .invert-secondary-color {
    color: var(--light-theme-secondary-color);
}

.btn {
    min-width: 100px;
    max-height: 250px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: inline-block;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
}

body.light-theme .btn-primary {
    background-color: var(--light-theme-primary-color);
    color: var(--light-theme-bg-color);
}

body.dark-theme .btn-primary {
    background-color: var(--dark-theme-primary-color);
    color: var(--dark-theme-bg-color);
}

body.light-theme .btn-secondary {
    background-color: var(--light-theme-secondary-color);
    color: var(--light-theme-bg-color);
}

body.dark-theme .btn-secondary {
    background-color: var(--dark-theme-secondary-color);
    color: var(--dark-theme-bg-color);
}


.section-head {
    font-size: 1.75rem;
}

header.hero {
    min-height: 100vh;
    
}


nav.nav {
    display: grid;
    justify-content: space-between;
    align-content: center;
    justify-self: center;
    align-items: center;
    grid-template-areas: "logo navlinks themetoggler";

    min-height: 10vh;
}


nav.nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: logo;
}


nav.nav ul.nav-links {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: navlinks;
    text-align: center;
}

nav.nav ul.nav-links li a {
    font-size: 0.8rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0.2rem;
    color: var(--inactive-link-color);
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.3s ease-in;
}

nav.nav ul.nav-links li a.active-nav-link {
    font-weight: bold;
}


body.light-theme nav.nav ul.nav-links li a.active-nav-link {
    border-bottom: 2px solid var(--light-theme-secondary-color);
    color:var(--light-theme-primary-color);
}

body.dark-theme nav.nav ul.nav-links li a.active-nav-link {
    border-bottom: 2px solid var(--dark-theme-secondary-color);
    color:var(--dark-theme-primary-color);

}

body.light-theme nav.nav ul.nav-links li a:hover {
    color:var(--light-theme-primary-color);
}

body.dark-theme nav.nav ul.nav-links li a:hover  {
    color:var(--dark-theme-primary-color);
}


body.light-theme .inverted-bg-color {
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-primary-color);
}

body.dark-theme .inverted-bg-color {
    background-color: var(--light-theme-bg-color);
    color: var(--light-theme-primary-color);
}


body.light-theme .bg-color {
    background-color: var(--light-theme-secondary-color);
    color: var(--dark-theme-primary-color);
}

body.dark-theme .bg-color {
    background-color: var(--dark-theme-secondary-color);
    color: var(--light-theme-primary-color)
}


.theme-toggler {
    position: relative;
    display: inline-block;

    grid-area: themetoggler;

    /* Original ratio */
    /* width: 3rem;
    height: 1.5rem; */

    width: 2.5rem;
    height: 1.2rem;
    border-radius: 2rem;
}

.theme-toggle {
    display: none;
}

.slider {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    transition: background 0.5s ease-in;
}

.slider::before {
    background-color: var(--inactive-link-color);  
    position: absolute;

    /* Original Ratio */
    /* bottom: 0.125rem;
    left: 0.25rem;
    margin: auto;
    width: 1.25rem;
    height: 1.25rem; */

    border-radius: 1rem;
    content: '';
        
    bottom: 0.1rem;
    left: 0.25rem;
    margin: auto;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    content: '';
    
    transition: transform 0.5s ease-in, color, 0.5s ease-in;
}

.theme-toggle:checked {
    background-color: #192738;
}

.theme-toggle:checked + .slider {    
    background-color: #192738;
}

.theme-toggle:checked + .slider::before {
    transform: translateX(1rem);
    background-color: var(--inactive-link-color);
}


.showcase {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.showcase-img {
    display: block;
    border-radius: 50%;
    max-width: 200px;
    height: 200px; 
    margin: 2rem auto 2rem auto;
}

.line-secondary {
    height: 0.15rem;
    width: 30%;
    border-radius: 1rem;
    margin: 0.25rem 0 1rem 0;
}


body.light-theme .line-secondary {
    background-color: var(--light-theme-secondary-color);
}

body.dark-theme .line-secondary {
    background-color: var(--dark-theme-secondary-color);
}

.showcase-hero {
    color: var(--light-theme-primary-color);
}

body.light-theme .showcase-hero {
    color: var(--light-theme-primary-color);
}

body.dark-theme .showcase-hero {
    color: var(--dark-theme-primary-color);
}

.showcase-lead {
    font-weight: 500;
    margin: 1rem 0;
}

body.light-theme .showcase-lead {
    color: var(--light-theme-primary-color);
}

body.dark-theme .showcase-lead {
    font-weight: 500;
    color: var(--dark-theme-primary-color);
}

.showcase-lead .secondary-color  {
    font-weight: bolder;
}


.showcase-button-container {
    margin: 1rem 0 0rem 0;
}


section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    padding: 0 1rem 1rem 1rem ; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem 1rem;
}

.flex-item {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.flex-item.text-content {
    text-align: justify;
    flex: 1.5;
    justify-content: center;
    
}

.flex-item.image-content {
    max-width: 100%;
    width: 100%;
    flex: 1;
    height: 100%;
}

.flex-item .section-head {
    margin-bottom: 1.5rem;
}

.flex-item.text-content .section-lead {
    font-size: 0.85rem;

}

.flex-item.text-content .section-text { 
    margin: 0.5rem 0;
    line-height: 1.75;
}

.flex-item.text-content .btn {
    margin: 1.5rem 0 0 0;
}

.about-button-container {
    display: flex;
    gap: 1rem;
}

.flex-item.image-content .about-img{
    max-width: 100%;
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.skills.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills.container .section-head {
    margin-bottom: 1rem;
}

.skill-list-container > .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-list-container .skill-list li.skill-list-item {
    margin: 1.25rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-list-container .skill-list li.skill-list-item span.skill-icon {
    display: block;
    width: 100px; 
    height: 100px;
    padding: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 3.5rem;
    text-align: center;
    
    border: 2px solid var(--light-theme-primary-color);
    border-radius: 50%;
    
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.5s ease-in-out;    
}

.skill-list-container .skill-list li.skill-list-item span.skill-title {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
    display: block;
    font-weight: 700;
    transition: 0.4s ease-in-out;
    font-family: 'Courier New', Courier, monospace;
}


body.light-theme .skill-list-container .skill-list li.skill-list-item span.skill-icon{ 
    box-shadow: 0px 0px 4px var(--dark-theme-bg-color);
}

body.dark-theme .skill-list-container .skill-list li.skill-list-item span.skill-icon{ 
    box-shadow: 0px 0px 4px var(--light-theme-bg-color)
}

.skill-list-container .skill-list li.skill-list-item span.skill-icon:hover { 
    transform: scale(0.9);
}

.skill-list-container .skill-list li.skill-list-item span.skill-icon:hover +  span.skill-title { 
    transform: scale(1.2);
}


body.light-theme .skill-list-container .skill-list li.skill-list-item span.skill-icon:hover { 
    background-color: var(--light-theme-secondary-color);
    color: var(--light-theme-bg-color);
}

body.dark-theme .skill-list-container .skill-list li.skill-list-item span.skill-icon:hover { 
    background-color: var(--dark-theme-secondary-color);
    color: var(--dark-theme-bg-color);
}


.skill-list-container .skill-list li.skill-list-item span.skill-icon:hover {
    animation-name: rotate; 
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg) scale(0.9);
        
    }
}


.skills-others {
    text-align: justify;
    line-height: 1.5;
    word-spacing: 5px;
    margin-top: 2rem;
}

.projects.container {
    margin: 2rem auto;
}

.projects.container .section-lead {
    margin: 1rem 0;
}

.projects.container .cards {
    margin: 1rem 0;
}

.projects.container .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.projects.container .card {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    min-height: 450px;
    margin: 1rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* transition: all 0.4s ease-in-out; */
    transition: all 200ms cubic-bezier(.164, .317, .38, .767)
}

.projects.container .card:hover {
    /* transform: translateY(-10px) scale(1.05); */
    transform: translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-1deg, 1deg); transform-style: preserve-3d;
    box-shadow:  10px 10px 15px rgb(119 119 119);
}

body.dark-theme .projects.container .card:hover {
    /* box-shadow:  5px 5px 15px  */
    box-shadow:  5px 5px 10px -3px  rgb(119 119 119);
}

.projects.container .card .card-footer {
    border-radius: 0 0 0.5rem 0.5rem;
    font-weight: 500;
}

.projects.container .card .card-header {
    border-radius: 0.5rem 0.5rem 0 0;
    
}

.projects.container .card .card-header .card-heading {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1rem;
}

.projects.container .card .card-header .card-heading small.project-links i {
    margin: 0 0.25rem;
    font-size: 1rem;
    display: inline-block;
}


.projects.container .card  .card-header h3.card-head {
    text-align: center;
    margin-left: 0.25rem;
}

.projects.container .card .card-header .project-img {
    width: 100%;
    object-fit: fit;
    height: 100%;
}

.projects.container .card .card-main p.card-lead {
    padding: 1rem;
    text-align: justify;
    font-size: 0.9rem;
}



.projects.container .card .card-footer small.project-tech
{
    
    padding: 1rem;
    display: block;
    font-size: 0.75rem;
    text-align: center;
}



@media screen and (max-width: 700px) {
    .flex-container {
        flex-direction: column;
        gap: 1rem;
    }
       
    .flex-item.image-content {
        max-width: 100%;
        margin: 0;   
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .projects.container .card-container {
        flex-direction: column;
    }

    .projects.container .card-container .card{
        margin-left: 0;
        margin-right: 0;
    }
    
}

@media screen and (max-width: 500px) {
    nav.nav ul.nav-links li a{
        padding: 0.15rem;
        font-size: 0.8;
    }

    .hero-container.container, .about.container, .skills.container, .projects.container {
        padding: 1rem 0.1rem;
    }
    
    .showcase-button-container {
        margin: 1rem 0 0 0;
    }

    .about.container.container {
        margin: 2rem 0 1rem 0;
    }

    .projects.container {
        margin: 2rem 0 1rem 0;
    }

    .flex-item {
        padding: 0;
    }

    .flex-item.image-content .about-img {
        height: 50vh;;
        width: 100%;
    }

    .skill-list-container .skill-list li.skill-list-item {
        margin: 0.75rem;
    }
    
    .skill-list-container .skill-list li.skill-list-item span.skill-icon {
        width: 70px; 
        height: 70px;
        padding: 1rem; 
        font-size: 2rem;
    }
    
}

@media screen and (max-width: 350px) {
    nav.nav ul.nav-links li a{
        font-size: 0.7rem! important;
        padding: 0.1rem;
    }

    .projects.container .card-container .card {
        min-width: 250px;
        max-width: 250px;
        min-height: 400px;
    }
}

@media screen and (max-width: 300px) {
    nav.nav ul.nav-links {
        flex-direction: column;
    }

    .projects.container .card-container .card {
        min-width: 240px;
        max-width: 240px;
        min-height: 300px;
    }
}

