.header.container {
    min-height: max-content;
}

section.blogs.container , .header.container {
    padding-right: var(--space-1);
    padding-left: var(--space-1);
}


main.blogs-main h1.hero-text {
    padding-bottom: 0.5rem;
    font-weight: bold;
}

main.blogs-main ol.blog-list-container {
    padding:  var(--space-1) var(--space-1-5);
    list-style: decimal;
}

main.blogs-main ol.blog-list-container li {
    padding-left: 1rem;
}

/* body.light-theme main.blogs-main ol.blog-list-container li:nth-child(even) .blog-post-container {
    background-color: var(--light-theme-secondary-background-color);
}

body.dark-theme main.blogs-main ol.blog-list-container li:nth-child(even) .blog-post-container {
    background-color: var(--dark-theme-secondary-background-color);
} */



.blog-post-container {
    padding: 3rem 0;
    /* margin: 3rem 0;
    padding: 1rem; */
    border-bottom: 2px solid #ccc;
}

body.dark-theme .blog-post-container {
    
    border-color: #202733;
}

ol.blog-list-container li:last-child .blog-post-container {
    border-bottom: none;    
}

main.blogs-main ol.blog-list-container li::marker {
    font-weight: bold;
    /* color: var(--light-theme-accent-color); */
    font-size: 1.25rem;
}

main.blogs-main h2.lead-text {
    margin: 0;
    padding: 0 ;
    text-transform: capitalize;
    word-spacing: initial;
    background: transparent !important;
    color: inherit;
}

main.blogs-main small.blog-tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0.5rem 0 1.5rem;
}

small.blog-tags span {
    background-color: var(--dark-theme-secondary-color);
    padding: 0.25rem 0.75rem;
    color: var(--light-theme-background-color);
    font-weight: 500;
    font-size: 0.7rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.blog-description.section-text {
    margin: 1.5rem 0 2rem !important;
}

.btn-blog-read-more {
    font-size: 0.8rem !important;
    margin: 0 !important;
}

.blog-post-details {
    width: 100%;
    display: flex;

    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0;
    font-size: 0.95rem;
}

.post-info {
    flex-wrap: wrap;
    display: flex;
    gap: 0.75rem 1.5rem;
}

.post-info i.fas{
    margin-right: 0.25rem;
}

@media screen and (max-width: 500px) {
    .blog-post-details {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
}